<div class="wrapper col-xs-12 col-md-8 col-md-offset-2 col-sm-10">
    <p><%= notice %></p>
    <h1>くまのつぶやき一覧</h1>
    <%= link_to "わたしもつぶやく", new_tweet_path, class: "btn btn-default" %>

    <% @tweets.each do |tweet| %>
        
        <!-- 通常画面 -->
        <div class="hidden-xs">
            <div class="row">
                <div class="col-sm-3"><img src="<%= asset_path "kuma01" %>" class="img-responsive img-rounded image"></div>
                <div class="col-sm-9">
                    <h3 class="tweets-margin00 title">くまです。</h3>
                    <div class="tweet-content"><%= tweet.content %></div>
                    <div class="tweets-button01">
                        <%= link_to "編集する", edit_tweet_path(tweet.id), class: "btn btn-default btn-sm btn-success" %>
                        <%= link_to "削除する", tweet_path(tweet.id), method: :delete, data: {confirm: "本当に削除していいですか？"}, class: "btn btn-default btn-sm btn btn-danger" %>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- 最小画面 -->
        <div class="visible-xs">
            <div class="row">
                <div class="clearfix">
                    <img src="<%= asset_path "kuma01" %>" class="img-rounded pull-left tweets-img02 image">
                    <h3 class="tweets-margin00 title">くまです。</h3>
                </div>
                <div class="tweets-margin10 tweet-content"><%= tweet.content %></div>
                <div class="tweets-margin20">
                    <%= link_to "編集する", edit_tweet_path(tweet.id), class: "btn btn-default btn-sm btn-success btn-block" %>
                    <%= link_to "削除する", tweet_path(tweet.id), method: :delete, data: {confirm: "本当に削除していいですか？"}, class: "btn btn-default btn-sm btn btn-danger btn-block" %>
                </div>
            </div>
        </div>

    <% end %>

</div>

<section>
    <div id="page-top-btn" class="page-top-btn">
        <p><a class="move-page-top" id="move-page-top">▲</a></p>
    </div>
</section>